@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    color: #0A3641;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header,
footer {
    background: #ffffff;
    color: #0A3641;
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 90px;
    margin-left: 20px;
}

.nav-links ul {
    margin-left: 30px;
}

.nav-links li {
    display: inline-flex;
    list-style: none;
}

.nav-links li a {
    font-weight: 600;
    text-decoration: none;
    color: #0A3641;
    padding: 20px;
}

.nav-icons a {
    color: #0A3641;
    margin-right: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-logo {
    max-width: 90px;
    margin-top: 20px;
}

.link {
    margin-left: 15px;
    list-style: none;
    padding: 5px 0;
}

.link li {
    display: none;
}

.links {
    display: inline-block;
}

.link a {
    text-decoration: none;
    color: #0A3641;
}

.footer-icons p {
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.footer-icons a {
    padding: 10px;
}

.fa-facebook-f {
    color: #2b49aa;
}

.fa-instagram {
    color: #dd2a7b;
}

.fa-pinterest {
    color: #bd081c;
}

.fa-twitter {
    color: #1da1f2;
}


/*Home page*/
.allpage {
    background: rgba(0, 0, 0, 0.6)url("../images/Fjord.jpg") center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    color: #fff;
}

.hero {
    position: relative;
    text-align: center;
}

.intro {
    font-size: .8rem;
    margin-bottom: 20px;
    transform: translateY(20px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 40px;
}

.hero-content form input {
  width: 100%;
  max-width: 550px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}

form p{
    display: none;
}

.fautered {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}

.fautered-product img {
  width: 300px;
  border-radius: 10px;
}

.product-small img {
    width: 250px;
}

.product-name {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 15px;
  width: 100%;
  max-width: 155px;
  margin-left: 75px;
  text-align: left;
}

.name2 {
    margin-left: 35px;
}

.product-name .tag {
    top: 0px;
}


.price {
  font-weight: bold;
  color: #c1e2f7;
}


/*Shop page*/
.shop {
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

.shop h1 {
    color: #f5f3f3;
}

.shop-line {
    background: #a3a2a2;
    width: 100%;
    height: 1px;
    margin-top: 10px;
}
.products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.product {
    position: relative;
    width: 100%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 90px;
}

.tag {
    position: absolute;
    right: 0;
    background: #17e617;
    color: #000;
    text-transform: uppercase;
    padding: 4px 8px;
    border-radius: 0 0 0 15px;
}

.tag-old {
    position: absolute;
    right: 0;
    background: #f11818;
    text-transform: uppercase;
    padding: 4px 8px;
    border-radius: 0 0 0 15px;
}

.product img{
    width: 200px;
}

.backgrd {
    background: #eee;
    width: 100%;
}

.product-names {
    background: rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: left;
    padding: 10px;
}

/*About page*/


/*Product page*/
.allpage-p {
    background: rgba(0, 0, 0, 0.5)url("../images/Fjord.jpg") center center no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    padding: 60px 0;
}

.product-specific {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1000px;
}

.norra-img {
    background: #eeeeee;
    margin-left: 20px;
    width: 380px;
    height: 400px;
}

.norra-img img {
    width: 100%;
    max-width: 280px;
    margin-top: 20px;
    margin-left: 50px;
}

.product-description {
    margin-top: 10px;
    margin-left: 20px;
}

.product-description h2{
    font-size: 1.8rem;
}

.product-img {
    position: relative;
    display: flex;
    gap: 10px;
}

.product-img div {
    background: #eeeeee;
    border: 2px solid #787676;
    margin: 10px 0;
    width: 75px;
}

.product-img img {
    position: relative;
    top: 2px;
    left: 10px;
    width: 45px;
}

select {
    width: 59%;
    background: #eeeeee;
    padding: 12px 20px;
}

.cta {
    font-size: 1.1em;
    font-weight: 550;
    background: #22DA22;
    color: #000;
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 0;
}

.cta-fav {
    background: #696969;
    color: #fff;
}

/* Responsive for  different devices*/
@media (min-width: 600px) {

    .fautered-product img {
      width: 400px;
      border-radius: 10px;
    }

    .product-small img {
      width: 350px;
    }

    /*Shop page*/
    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    .product {
        margin-left: 0;
    }

    .product img {
        width: 240px;
    }

    select {
        width: 48%;
    }
}


@media (min-width: 800px) {

    .nav-icons a {
        margin-right: 40px;
    }

    .link li {
        display: block;
    }

    /*Homepage*/
    .hero-content {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .intro {
        font-size: 1.2rem;
    }

    .fautered {
        flex-direction: row-reverse;
        transform: translateX(-70px);
    }

    form p {
        display: block;
        padding: 5px 20px;
        text-align: left;
        margin-top: 10px;
    }

    .product-small img {
        width: 150px;
        margin-left: 100px;
    }

    .product-name {
        max-width: 200px;
        margin-left: 100px;
    }

    .name2 {
        margin-left: 119px;
        max-width: 100px;
        font-size: 0.6rem;
    }

    .footer-icons {
        margin-right: 20px;
    }

    /*Shop page*/
    .products {
        grid-template-columns: repeat(3, 1fr);
    }

    .product img {
        width: 240px;
    }

    .small img {
        width: 220px;
        margin-top: 30px;
    }


    /*Product page*/
    .product-specific {
        flex-direction: row;
        margin-left: 190px;
    }

    .norra-img {
        width: 539px;
        height: 547px;
        transform: translateX(-170px);
    }

    .norra-img img {
        max-width: 400px;
        margin-top: 30px;
        margin-left: 60px;
    }

    .product-description {
        position: absolute;
        top: 50px;
        right: 0;
    }

    select {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .footer-links {
        flex-direction: row;
    }

    .links {
        display: flex;
    }
}