@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, 
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1 {
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


header,
footer {
    background: #ffffff;
    color: #0A3641;
}

/* Header */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 90px;
    margin-left: 20px;
}

.nav-links ul {
    margin-left: 30px;
}

.nav-links li {
    display: inline-flex;
    list-style: none;
}

.nav-links li a {
    font-weight: 600;
    text-decoration: none;
    color: #0A3641;
    padding: 20px;
}

.nav-icons a {
    color: #0A3641;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer-links {
    display: flex;
}

.footer-logo {
    max-width: 90px;
    margin-top: 20px;
}

.link {
    margin-left: 60px;
    list-style: none;
}

.links {
    display: flex;
}

.link a {
    text-decoration: none;
    color: #0A3641;
}

.footer-icons p {
    text-align: center;
    font-weight: 600;
    padding-bottom: 5px;
}

.fa-facebook-f {
    color: #2b49aa;
}

.fa-instagram {
    color: #dd2a7b;
}

.fa-pinterest {
    color: #bd081c;
}

.fa-twitter {
    color: #1da1f2;
}


/*Home page*/
.homepage {
    background: url("../images/fjord.jpg") center center no-repeat;
    background-size: cover;
}
.hero {
    position: relative;
    text-align: center;
}

.intro {
    font-size: .8rem;
    display: inline-block;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    transform: translateY(20px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    gap: 40px;
}

.hero-content form input {
  width: 100%;
  max-width: 550px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
}

form p{
    display: none;
}

.fautered {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 30px;
}

.fautered-product img {
  width: 300px;
  border-radius: 10px;
}

.product-small img {
    width: 250px;
}

.product-name {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  width: 100%;
  max-width: 155px;
  margin-left: 75px;
  text-align: left;
}

.name2 {
    margin-left: 35px;
}


.price {
  font-weight: bold;
  color: #b0e0ff;
}



/*Shop page*/


/*About page*/


/*Product page*/


/* Responsive for  different devices*/
@media (min-width: 600px) {

    .fautered-product img {
      width: 400px;
      border-radius: 10px;
    }

    .product-small img {
      width: 350px;
    }

}


@media (min-width: 800px) {
    .hero-content {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .intro {
        font-size: 1.2rem;
    }

    .fautered {
        flex-direction: row-reverse;
        transform: translateX(-70px);
    }

    form p {
        display: block;
        padding: 5px 20px;
        text-align: left;
        margin-top: 10px;
    }

    .product-small img {
        width: 150px;
        margin-left: 100px;
    }

    .product-name {
        max-width: 200px;
        margin-left: 100px;
    }

    .name2 {
        margin-left: 119px;
        max-width: 100px;
        font-size: 0.6rem;
    }

    .footer-icons {
        margin-right: 20px;
    }
}